<slideshow *ngIf="report.uploads.length"
           [showDots]="true"
           [showArrows]="true"
           [height]="'350px'"
           [backgroundSize]="'contain'"
           [imageUrls]="report.uploads">
</slideshow>

<div class="container">

  <!--<div *ngIf="showEditButton" class="form-group edit">-->
    <!--<button [routerLink]="['/form', report]">Editar</button>-->
  <!--</div>-->
  <div *ngIf="showDeleteButton" (click)="deleteReport(report.id)" class="form-group delete">
    <i class="fa fa-trash-o" aria-hidden="true"></i>
    <!--<button>Deletar</button>-->
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Localização</div>
    <div class="panel-body">
      <div *ngIf="report.state || report.city">
        <span *ngIf="report.state || report.city">Local: </span>
        <span *ngIf="report.state">{{ report.state }}</span>
        <span *ngIf="report.state && report.city"> - </span>
        <span *ngIf="report.city">{{ report.city }}</span>
      </div>
      <div>Praia/Pico: {{ report.spot }}</div>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="report.wave_size || report.wave_condition || report.wave_formation || report.wave_score">
    <div class="panel-heading">Ondulação</div>
    <div class="panel-body">
      <div *ngIf="report.wave_size">Tamanho: {{ findTitleByKey(wave_sizes, report.wave_size) }}</div>
      <div *ngIf="report.wave_direction">Direção Ondulação: {{ findTitleByKey(wave_directions, report.wave_direction) }}</div>
      <div *ngIf="report.wave_condition">Condição: {{ findTitleByKey(wave_conditions, report.wave_condition) }}</div>
      <div *ngIf="report.wave_formation">Formação: {{ findTitleByKey(wave_formations, report.wave_formation) }}</div>
      <div *ngIf="report.wave_score">Nota: {{ report.wave_score }}</div>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="report.wind_direction || report.wind_intensity">
    <div class="panel-heading">Vento</div>
    <div class="panel-body">
      <div *ngIf="report.wind_direction">Direção: {{ findTitleByKey(wind_directions, report.wind_direction) }}</div>
      <div *ngIf="report.wind_intensity">Intensidade: {{ findTitleByKey(wind_intensities, report.wind_intensity) }}</div>
    </div>
  </div>

  <div class="panel panel-default" *ngIf="report.wt || report.weather || report.sky || report.crowd">
    <div class="panel-heading">Clima</div>
    <div class="panel-body">
      <div *ngIf="report.wt">Temperatura da água: {{ findTitleByKey(wt, report.wt) }}</div>
      <div *ngIf="report.weather">Clima: {{ findTitleByKey(weather, report.weather) }}</div>
      <div *ngIf="report.sky">Tempo: {{ findTitleByKey(sky, report.sky) }}</div>
      <div *ngIf="report.crowd">Crowd: {{ findTitleByKey(crowd, report.crowd) }}</div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Info</div>
    <div class="panel-body">
      <div *ngIf="report.comment">Comentário: {{ report.comment }}</div>
      <div>Enviado em: {{ report.createdAt | date:'dd/MM/yyyy HH:mm'}}</div>
      <!--<div>Coord.: {{ report.location.lat }} | {{ report.location.lat }}</div>-->
    </div>
  </div>
  <iframe *ngIf="report.location.lat && report.location.lng" id="windy" style="width: 100%" height="450"
          src="https://embed.windy.com/embed2.html?lat=-27.62&lon=-48.44&zoom=9&level=surface&overlay=wind&menu=&
          message=true&marker=true&calendar=&pressure=&type=map&location=coordinates&detail=true&detailLat=-27.596281&
          detailLon=-48.5252&metricWind=km%2Fh&metricTemp=%C2%B0C&radarRange=-1" frameborder="0">
  </iframe>
</div>

