@import '../../app/app.component';

.container {
  //color: black;
  padding-top: 20px;
  margin-bottom: $h_menu;
  .edit, .delete {
    position: fixed;
    top: 4px;
    z-index: 999;
    right: 15px;
    button {
      background: transparent;
      border-radius: 2px;
    }
    .loading-save {
      width: 20px;
    }
  }
  .delete {
    i {
      font-size: 26px;
      margin-top: 3px;
    }
  }

  .gallery {
    img {
      width: 100%;
    }
  }
  .panel-default {
    background: #333333;
    @media (min-width:768px){
      width: calc(50% - 20px);
      display: inline-block;
      vertical-align: top;
      margin: 10px 10px;
    }
    >.panel-heading {
      font-weight: bold;
      background-color: #ddd;
    }
    .panel-body {
      min-height: 110px;
      @media (max-width:768px) {
        min-height: auto !important;
      }
    }
  }
}
