<agm-map [latitude]="userLat" [longitude]="userLng" [zoom]="12" [styles]="mapStyle" id="map-wrapper">
  <agm-marker-cluster [imagePath]="'https://googlemaps.github.io/js-marker-clusterer/images/m'">
    <agm-marker *ngFor="let c of coords, let i=index" [latitude]="c.lat" [longitude]="c.lng">

      <agm-info-window>
        <div class="info">Praia/Pico: {{this.reports[i].spot}}</div>
        <div class="info" *ngIf="this.reports[i].wave_size">Tamanho da onda: {{this.reports[i].wave_size}}m</div>
        <div class="info">Postado: {{this.reports[i].createdAt  | date:'dd/MM/yy - hh:mm' }}</div>
        <button class="btn btn-default" (click)="openReportDetail(i)">Ver mais</button>
      </agm-info-window>

    </agm-marker>
  </agm-marker-cluster>
</agm-map>
