<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row text-center"><h3>Login</h3></div>
    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="username" id="username"
      [ngClass]="{ 'is-invalid': submitted && f.username.errors }"/>
      <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
        <div *ngIf="f.username.errors">Email inválido.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Senha</label>
      <input type="password" class="form-control" formControlName="password" id="password"
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Senha é um campo obrigatório.</div>
      </div>
    </div>
    <button class="full" id="submit" type="submit">Entrar</button>
  </form>
  <button class="full" routerLink="/signup">Criar Conta</button>
</div>
