<form [formGroup]="reportForm" (ngSubmit)="onSubmit()" class="container">

  <div class="form-group save">
    <button [disabled]="loadingSave">
      <span [hidden]="loadingSave">Salvar</span>
      <img [hidden]="!loadingSave" class="loading-save" src="assets/loading.gif" width="20">
    </button>
  </div>

  <div class="form-group">
    <div class="estado">
      <label>Estado:</label>
      <select class="form-control" (change)="selectedState($event, null)"
              formControlName="state" name="state">
        <option [ngValue]="null" disabled  selected>Selecione..</option>
        <option *ngFor="let state of states" value="{{state.estado}}">
          {{state.estado}}
        </option>
      </select>
    </div>
    <div class="cidade">
      <label>Cidade:</label>
      <select class="form-control" formControlName="city" name="city">
        <option [ngValue]="null" disabled  selected>Selecione..</option>
        <option *ngFor="let city of cities" value="{{city}}">{{city}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>Nome do pico/praia:*</label>
    <input type="text" formControlName="spot" class="form-control" name="spot"
           [ngClass]="{ 'is-invalid': submitted && f.spot.errors }"/>
    <div *ngIf="submitted && f.spot.errors" class="invalid-feedback">
      <div *ngIf="f.spot.errors.required">Nome é um campo obrigatório.</div>
    </div>
    <div class="sugestion">
      <div (click)="insertSpot(spot.spot_name)" *ngFor="let spot of spots">{{ spot.spot_name }}</div>
    </div>
  </div>

  <div class="form-group">
    <label>Tamanho das ondas:*</label>
    <div class="radio-select">
      <span *ngFor="let waveSize of wave_sizes">
        <input formControlName="wave_size" type='radio' value="{{waveSize.value}}"
               name='wave_size' id="ws{{waveSize.title}}"/>
        <label for="ws{{waveSize.title}}">{{waveSize.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Direção da ondulação (swell):</label>
    <div class="radio-select">
      <span *ngFor="let waveDirection of wave_directions">
        <input formControlName="wave_direction" type='radio' value="{{waveDirection.value}}"
               name='wave_direction' id="ws{{waveDirection.title}}"/>
        <label for="ws{{waveDirection.title}}">{{waveDirection.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Condição das ondas:*</label>
    <div class="radio-select">
      <span *ngFor="let waveCond of wave_conditions">
        <input formControlName="wave_condition" type='radio' value="{{waveCond.value}}"
               name='wave_condition' id="wc{{waveCond.title}}"/>
        <label for="wc{{waveCond.title}}">{{waveCond.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Formação das ondas:</label>
    <div class="radio-select">
      <span *ngFor="let waveForm of wave_formations">
        <input formControlName="wave_formation" type='radio' value="{{waveForm.value}}"
               name='wave_formation' id="wf{{waveForm.title}}"/>
        <label for="wf{{waveForm.title}}">{{waveForm.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Direção do vento:</label>
    <div class="radio-select">
      <span *ngFor="let windDir of wind_directions">
        <input formControlName="wind_direction" type='radio' value="{{windDir.value}}"
               name='wind_direction' id="wd{{windDir.value}}"/>
        <label for="wd{{windDir.value}}">{{windDir.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Intensidade do vento:</label>
    <div class="radio-select">
      <span *ngFor="let windInt of wind_intesities">
        <input formControlName="wind_intensity" type='radio' value="{{windInt.value}}"
               name='wind_intensity' id="wi{{windInt.value}}"/>
        <label for="wi{{windInt.value}}">{{windInt.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Avaliação da onda:</label>
    <div class="radio-select">
      <span *ngFor="let waveScore of waves_score">
        <input formControlName="wave_score" type='radio' value="{{waveScore}}"
               name='wave_score' id="wsc{{waveScore}}"/>
        <label for="wsc{{waveScore}}">{{waveScore}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Temperatura da água:</label>
    <div class="radio-select">
      <span *ngFor="let wt of water_temperature">
        <input formControlName="wt" type='radio' value="{{wt.value}}" name='wt' id="wt{{wt.value}}"/>
        <label for="wt{{wt.value}}">{{wt.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Clima:</label>
    <div class="radio-select">
      <span *ngFor="let w of weather">
        <input formControlName="weather" type='radio' value="{{w.value}}" name='weather' id="w{{w.value}}"/>
        <label for="w{{w.value}}">{{w.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Tempo:</label>
    <div class="radio-select">
      <span *ngFor="let s of sky">
        <input formControlName="sky" type='radio' value="{{s.value}}" name='sky' id="s{{s.value}}"/>
        <label for="s{{s.value}}">{{s.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Crowd:</label>
    <div class="radio-select">
      <span *ngFor="let c of crowd">
        <input formControlName="crowd" type='radio' value="{{c.value}}" name='crowd' id="c{{c.value}}"/>
        <label for="c{{c.value}}">{{c.title}}</label>
      </span>
    </div>
  </div>

  <div class="form-group">
    <label>Comentário</label>
    <textarea rows formControlName="comment" class="form-control" rows="3"
              [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"></textarea>
  </div>

  <!--<input type="file" accept="image/*">-->
  <input #selectPhoto id="selectPhoto" type="file" accept="image/*" (change)="onFileSelected($event)">
  <div class="thumb-gallery">
    <span *ngFor="let file of previewFiles; let i = index" class="thumbnail-wrapper">
      <a class="remove-file" (click)="removeFile(i)"><i class="fa fa-times" aria-hidden="true"></i></a>
      <img class="thumbnail" src="{{ file }}" [style.opacity]="imagesUploaded[i] ? '1' : '0.4'"/>
    </span>
  </div>
  <span class="glyphicon glyphicon-camera" aria-hidden="true" (click)="selectPhoto.click()"></span>
  <div class="select-photo" (click)="selectPhoto.click()">Adicionar Fotos</div>


</form>
