@import "../../app/app.component";
.container {
  padding-top: 20px;
  padding-bottom: $h_menu;
  .save {
    position: fixed;
    top: 4px;
    z-index: 999;
    right: 15px;
    button {
      background: transparent;
      border-radius: 2px;
    }
    .loading-save {
      width: 20px;
    }
  }

  .estado {
    width: 40%;
    display: inline-block;
    padding-right: 1.5em;
  }
  .cidade {
    width: 60%;
    display: inline-block;
  }
  .sugestion {
    margin-top: 5px;
    height: 20px;
    overflow: hidden;
    font-size: 11px;
    div {
      cursor: pointer;
      border: 0.5px solid #ffffff73;
      padding: 2px 5px;
      margin: 0 5px 5px 0;
      border-radius: 1em;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .glyphicon {
    font-size: 100px;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  #selectPhoto {
    display: none;
  }
  .select-photo{
    text-align: center;
    cursor: pointer;
    margin-top: -10px;
    margin-bottom: 10px;
  }

  .thumb-gallery {
    .thumbnail-wrapper {
      position: relative;
      width: calc(33% - 10px);
      display: inline-block;
      margin: 5px;
      background: url('../../assets/loading.gif');
      background-position: center;
      background-size: 55%;
      background-repeat: no-repeat;
      .thumbnail {
        width: 100%;
        vertical-align: top;
        opacity: 0.4;
      }
      .remove-file {
        position: absolute;
        top: -10px;
        right: -7px;
        padding: 3px;
        cursor: pointer;
        z-index: 9;
        i {
          color: red;
          font-size: 26px;
        }
      }
    }
  }

  .radio-select {
    span {
      padding: 0 1px;
      input {
        display: none;
      }
      label {
        font-weight: normal;
        padding: 5px;
        border: 1px solid lightgrey;
        cursor: pointer;
      }
      input:checked + label {
        background: gray;
      }
    }
  }

  .br-units {
    background: red;
    .br-unit {
      width: 10% !important;
    }
  }
}
