@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-bar-rating/themes/br-default-theme.css';

/****** VARIABLES - start ******/
$c_menu: #f8f8f8;
$c_border: lightgray;
$c_button: #aaaaaa;

$h_menu: 50px;
$h_topbar: 40px;
$c_menu: #000000;
$c_bcg: #333333;
$c_font_menu: white;
/****** VARIABLES - end ******/


.main-menu {
  width: 100%;
  height: $h_menu;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background: $c_menu;
  >div {
    outline: none;
    display: inline-block;
    color: $c_font_menu;
    width: 25%;
    text-align: center;
    padding-top: 7px;
    cursor: pointer;
    &:hover {
      font-weight: bold;
    }
    &.active {
      font-size: 0.99em;
      color: #b3b3b3;
    }
  }
}
.main {
  margin-bottom: $h_menu;
  margin-top: $h_topbar;
  height: calc(100vh - 90px);
}
.top-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: $c_menu;
  color: $c_font_menu;
  height: $h_topbar;
  z-index: 999;
  >div {
    width: 33%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    &.center {
      text-align: center;
      font-family: 'Amatic SC', cursive;
      color: $c_font_menu;
      font-size: 28px;
      font-weight: bold;
      outline: none;
      cursor: pointer;
      //logo
      img {
        height: 90%;
        vertical-align: super;
      }
    }
    &.left {
      a {
        padding: 10px 15px 10px 5px;
        i {
          font-size: 36px;
          color: white;
        }
      }
    }
    &.right {
      text-align: right;
      a {
        color: white;
        cursor: pointer;
        i {
          font-size: 18px;
          padding: 10px 5px 5px;
        }
      }
      .loading-update {
        width: 40px;
        margin-right: -5px;
      }
    }
  }
}
