<nav class="top-nav">
  <div class="left">
    <a *ngIf="location.url == '/form' ||
              location.url.indexOf('report') !== -1 ||
              location.url == '/config'" routerLink="/lista">
      <i class="fa fa-angle-left" aria-hidden="true"></i>
    </a>

  </div>
  <div class="center" routerLink="/">Surfai.app</div>
  <div class="right" *ngIf="location.url == '/lista' || location.url == '/mapa'">
    <a (click)="update()" *ngIf="!loadingUpdate"><i class="fa fa-refresh" aria-hidden="true"></i></a>
    <img *ngIf="loadingUpdate" class="loading-update" src="assets/loading.gif">
  </div>
</nav>

<div class="main">
  <router-outlet></router-outlet>
</div>

<nav class="main-menu" *ngIf="location.url != '/'">
  <div routerLink="/lista" [routerLinkActive]="'active'"><i class="fa fa-list fa-lg" aria-hidden="true"></i><br>Lista</div>
  <div routerLink="/mapa" [routerLinkActive]="'active'"><i class="fa fa-globe fa-lg" aria-hidden="true"></i><br>Mapa</div>
  <div routerLink="/form" [routerLinkActive]="'active'"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i><br>Novo</div>
  <div routerLink="/config" [routerLinkActive]="'active'"><i class="fa fa-cog fa-lg" aria-hidden="true"></i><br>Config</div>
</nav>

<!--<app-listview *ngIf="location.url=='/lista'"></app-listview>-->
<!--<app-mapview *ngIf="location.url=='/mapa'"></app-mapview>-->

<toaster-container></toaster-container>
