<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="row text-center"><h3>Cadastrar</h3></div>
    <div class="form-group">
      <label>Email *</label>
      <input type="email" class="form-control" formControlName="email" id="email"
             [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
        <div *ngIf="f.email.errors">Email inválido.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Senha *</label>
      <input type="password" class="form-control" formControlName="password" id="password"
             [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
        <div *ngIf="f.password.errors.required">Senha é um campo obrigatório.</div>
      </div>
    </div>
    <div class="form-group">
      <label>Telefone</label>
      <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber">
    </div>
    <div class="form-group">
      <label>Nome / Apelido</label>
      <input type="text" class="form-control" formControlName="userName" id="userName">
    </div>
    <button class="full" id="submit" type="submit">Cadastre-se</button>
  </form>

  <!--<button class="btn btn-danger" (click)="loginGoogle()">Entrar com o +Google</button>-->
  <!--<button class="btn btn-primary" (click)="loginFacebook()">Entrar com o Facebook</button>-->
</div>
