@import "../app.component";

$w: 30px;
$c_bad: rgba(168, 0, 0, 0.33);
$c_reg: #ffa700;
$c_good: #b8cb40;
$c_exc: #71ef80;

$c_hot: rgb(255, 81, 0);
$c_war: #ffa700;
$c_cool: #71ef80;
$c_cold: #a7e1ff;

$c_black: #5f5f5f;

.reports {
  cursor: pointer;
  outline: none;
  td {
    padding: 5px 0px 5px 10px !important;
    vertical-align: middle !important;
    .spot {
      font-weight: 500;
      margin-bottom: -3px;
    }
    .location{
      font-size: 12px;
    }
    &:first-of-type {
      width: 30%;
    }
    .created {
      font-size: 10px;
      color: gray;
    }
    &.infos {
      width: 40%;
      padding: 0 !important;
      span, img {
        margin: 5px;
      }
      .glyphicon {
        font-size: 27px;
        top: 1px;
        color: #dddddd;
        vertical-align: middle;
        margin: 5px 0 5px 10px;
      }
    }
  }
}
.c {
  width: 25px;
  border: 2px solid;
  border-radius: 5em;
  margin-right: 5px;
  &.wave.bad{
    background: $c_bad;
    border-color: $c_bad;
  }
  &.wave.reg{
    background: $c_reg;
    border-color: $c_reg;
  }
  &.wave.good{
    background: $c_good;
    border-color: $c_good;
  }
  &.wave.exc{
    background: $c_exc;
    border-color: $c_exc;
  }
}

//water_temperature
.wt {
  background: $c_war;
  width: 30px;
  margin-top: -3px;
  &.hot {
    background: $c_hot;
  }
  &.war {
    background: $c_war;
  }
  &.cool {
    background: $c_cool;
  }
  &.cold {
    background: $c_cold;
  }
}
.wind {
  width: 30px;
}

.no-data {
  h1 {
    padding: 0 15px;
  }
  a{
    color:white;
    text-decoration:none;
    border-bottom:1px solid white;
    &:hover{
      text-decoration:underline;
      border:0;
    }
  }
}
