<table class="table">
  <tbody>
    <tr class="reports" *ngFor="let r of reports" [routerLink]="['/report', r.id]">
      <td>
        <div class="spot">{{r.spot}}</div>
        <span class="location" *ngIf="r.city">{{r.city}} </span>
        <span class="location" *ngIf="r.state"> ({{r.state}})</span>
        <div class="created">{{r.createdAt | date:'dd/MM/yy HH:mm'}}</div>
      </td>
      <td class="infos">
        <img *ngIf="(r.wave_size || r.wave_size == 0) && (r.wave_condition || r.wave_condition == 0)"
             class="c wave" src="assets/w{{r.wave_size}}.png"
              [ngClass]="{bad: r.wave_condition == 0, reg: r.wave_condition == 1,
                         good: r.wave_condition == 2, exc: r.wave_condition == 3}">
        <img *ngIf="r.wind_direction || r.wind_intensity" src="assets/wind.svg" width="30">
        <img *ngIf="r.sky" src="assets/sky{{r.sky}}.svg" width="35">
        <img *ngIf="r.wt" class="wt" src="assets/water_temperature.png"
             [ngClass]="{hot: r.wt == 0, war: r.wt == 1, cool: r.wt == 2, cold: r.wt == 3}" >
        <span *ngIf="r.uploads && r.uploads.length" class="glyphicon glyphicon-camera"></span>
      </td>
    <tr style="height: 50px;"><td></td><td></td></tr>
    <tr></tr>
  </tbody>
</table>

<div class="no-data" *ngIf="reports.length == 0">
  <h1>
    Ainda não temos boletins postados hoje, seja o primeiro a
    <a routerLink="/form">postar um boletim</a>.
  </h1>
</div>
