<div class="container">
  <!--<img src="assets/beta.jpeg">-->
  <!--<img src="assets/em_construcao.png">-->
  <!--<h1>Surfaí App</h1>-->
  <div class="desc">
    <div>Faça parte dessa comunidade!</div>
    <div>Busque o melhor pico para o seu surf, compartilhe boletins e concorra à premios.</div>
    <!--<div>Descubra o melhor pico para voce </div>-->
    <!--<div>Nosso App está em construção. Seja um testador <span>BETA</span> e nos ajude a melhorar, ou visite-nos em breve.</div>-->
    <!--<div>Contato para sugestão, dúvida, parceiria <br>Email:-->
      <!--<a onclick="location.href='mailto:surfaiapp@gmail.com';">surfaiapp@gmail.com</a>-->
    <!--</div>-->
  </div>
  <div class="enter">
    <button routerLink="lista">Entrar</button>
    <button routerLink="login">Login</button>
  </div>
</div>
<!--<div class="ocean">-->
  <!--<div class="wave"></div>-->
  <!--<div class="wave"></div>-->
<!--</div>-->
