.container {
  overflow: hidden;
  text-align: center;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/home5.jpg');
  height: calc(100vh - 40px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  .enter {
    position: absolute;
    bottom: 100px;
    text-align: center;
    width: 100%;
    margin-right: -15px;
    margin-left: -15px;
    button {
      padding: 10px 8vw;
      color: white;
      font-size: 16px;
      cursor: pointer;
      &:first-of-type {
        margin-right: 10vw;
      }
    }
  }
}
img {
  width: 300px;
  //margin-top: -20px;
  //position: absolute;
  //right: 0;
  margin-bottom: -15px;
}
h1 {
  text-align: center;
  margin-top: 1em;
  font-family: 'Amatic SC', cursive;
  font-weight: bold;
}
div.desc {
  font-family: 'Amatic SC', cursive;
  font-size: 26px;
  text-align: center;
  margin-top: 30px;
  & div:first-of-type {
    margin-bottom: 25px;
  }
}
