<div class="container">
  <div class="version"> V {{version}}</div>
  <div class="logo"><img src="assets/icons/icon-512x512.png"></div>
  <h1>Sobre nós</h1>
  <div>O Surfaí App é uma Startup de Florianópolis (SC), que a partir de uma necessidade
    pessoal iniciou o projeto, por isso podemos dizer que o App é feito de surfista para
    surfista <strong>#deSurfistaParaSurfista</strong>. A ideia principal é ajudar os surfistas na
    hora de escolher a melhor praia para o surf através do Web App.</div>

  <h1>O App </h1>
  <div>O App é um crowdsourcing para surf, onde usuários podem ver e postar informações sobre os picos mais próximos.
    O surfaí conta com tecnologia de ponta para fornecer aos usuários uma excelente experiência de usabilidade,
    como: App não precisa ser baixado nas lojas de aplicativos; Funciona em qualquer dispositivo; Velocidade.
  </div>

  <h1>Promoção</h1>
  <div>Para estimularmos os usuários a postarem cada vez mais, premiamos os usuários que mais tiverem postagens
    validas* no mês. Para participar basta fazer o login e fazer muitas postagens. <a href="regulamento">Clique aqui </a> para ler o regulamento.
  </div>

  <div *ngIf="!loggedUser">
    <h1>Cadastra-se</h1>
    <div>Para concorrer as premiações é necessario que voce esteja logado, caso contrario a postagem será computada como anonima e não irá ser adicionada a sua contagem.</div>
    <button routerLink="/signup">Criar Conta</button>

    <h1>Login</h1>
    <div>Caso voce já tenha feito cadastro, faça o Login.</div>
    <button routerLink="/login">Login</button>
  </div>

  <h1>Contato</h1>
  <div>Para dúvidas, sugestões, parceiria ou qualquer outra informações só entrar em contato pelo email:
    <a onclick="location.href='mailto:surfaiapp@gmail.com';">surfaiapp@gmail.com</a>.<br><br>

    Ou Acesse nossas redes socias: <a href="https://www.instagram.com/surfaiapp/" target="_blank"> @surfaiapp</a>
    <div class="social">
      <a href="https://www.facebook.com/surfaiapp/" target="_blank">
        <i class="fa fa-facebook-official" aria-hidden="true"></i><br>
        Facebook
      </a>
      <a href="https://www.instagram.com/surfaiapp/" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i><br>
        Instagram
      </a>
    </div>
  </div>

  <div class="logout" *ngIf="loggedUser">
    <button class="danger" (click)="logout()">Logout</button>
  </div>
</div>
