@import "../app.component";

.container {
  padding-bottom: $h_menu;
}
h1 {
  margin-top: 30px;
  margin-bottom: 5px;
}

button {
  margin-top: 7px;
  width: 100%;
}

a {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.version {
  position: absolute;
  right: 10px;
  font-size: 12px;
  top: 45px;
  color: #717171;
}
.logo {
  text-align: center;
  margin-top: 10px;
  margin-bottom: -20px;
  img {
    width: auto;
    height: 160px;
    text-align: center;
  }
}
.social {
  text-align: center;
  a {
    display: inline-block;
    text-align: center;
    padding: 5px 10px;
    i {
      font-size: 40px;
    }
  }
}
.logout {
  margin-bottom: 20px;
  margin-top: 10px;
}
